.resources {
    display: flex;
    flex-wrap: wrap;
}

.resources-link {
    color: aliceblue;
    text-decoration: none;
}

.resources-container {
    width: 225px;
    height: 200px;
    margin: 15px;
    background-color: #242424;
    border-radius: 2px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    transition: 200ms;
}
.resources-container:hover {
    transform: scale(1.1);
    transition: 200ms;
}

.resources-text {
    padding: 15px;
}

.resources-name {
    font-size: 25px;
    font-weight: bold;
    line-height: 1.5;
}

.resources-desc {
    color: #808080;
    font-size: 12px;
    margin: 10px 0px;
    line-height: 2;
}

@media only screen and (max-width:1224px) {
    .resources-container {
        width: inherit;
        height: fit-content;
        margin: 15px 0px;
    }
}