.main-div {
  display: flex;
  justify-content: space-between;
}

.main-div-left {
  width: 40%;
}
.main-div-right {
  width: 60%;
  margin-left: 30px;
}

.main-heading {
  font-size: 50px;
  font-weight: bolder;
}
.main-subtext {
  color: #808080;
  line-height: 2;
  margin: 40px 0px;
}
.main-subtext a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}
.main-nav-link {
  text-transform: uppercase;
  line-height: 4;
  font-size: 12px;
  color: #808080;
  font-weight: bold;
  letter-spacing: 2px;
}
.main-nav-link:hover {
  cursor: pointer;
}

.active {
  color: #fff;
}


@media only screen and (max-width:1224px){
  .main-div {
    display: block;
  }
  .main-div-left {
    width: 100%;
    margin: 0px;
  }
  .main-div-right {
    margin: 0px;
  }
}